@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components{
    .container{
        @apply  lg:w-[90%] xxxsm:max-w-[99%]   m-auto

    }
     
}
/* all li */
li{
    list-style: none;
}
body{
    background-color:  #c9c9cb;
}
.active{
    border-bottom: 1px solid #FF014F;
    color: white;
}
